body {
    font-family: 'Fjalla One', sans-serif;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(255, 251, 204, 0.7);
    margin-top: 0px;
    margin-bottom: 0px;
}

.topbar {
    background-color: rgb(0, 0, 0);
}
h1 {
    color: white;
}

.topbar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -80px;
    margin-left: -80px;
}

.ppic {
    max-width: 100%;
    max-height: 120px;
    /* display: block;
    background: transparent; */
}
#paragraph {
    text-align: center;
    font-size: 15px;
}
#cart,
#btn,
#btn2 {
    background-color: white;
    text-align: center;
    border-radius: 5px 20px 5px;
    padding: 16px;
}

.fa-apple {
    padding: 5px;
    font-size: 23px;
}
.fa-shopping-cart {
    font-size: 55px;
}
li {
    color: red;
}

#cart {
    float: right;
}

.padded-row {
    padding-left: 15px;
    padding-right: 15px;
}
