.topbar {
    background-color: black;
}
h1 {
    color: rgb(230, 204, 243);
}

.topbar {
    margin-right: -8px;
    margin-left: -8px;
}

img {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 15px;
    max-height: 60px;
    margin-bottom: -11px;
    margin-top: -1em;
    margin-left: 2em;
}
